{% extends "base.html" %}

{% block title %} - Application {{ application.nom }}{% endblock %}

{% block body %}

 <h4>Application {{ application.nom }}</h4>

{% if user %}

  {% if not application.actif %}
  <p>Application retir&eacute;e du service.</p>
  {% endif %}

  {% if application.description %}
  {% autoescape off %}{{ application.description }}{% endautoescape %}
  {% endif %}

  {% if admin %}
  <p class="submit"><a href="/editApplication?id={{ application.key.id }}">Editer</a></p>
  {% endif %}

<div class="ink-tabs top"> <!-- Creates a tabbed view with top nav -->
  <ul class="tabs-nav">
    <li><a href="#fiches">Fiches de test</a></li>
{% if admin %}
    <li><a href="#ajout">Ajout de fiche</a></li>
{% endif %}
    <li><a href="#mesures">Mesures</a></li>
    <li><a href="#versions">Versions</a></li>
  </ul>

  <div id="fiches" class="tabs-content">

 <table class="ink-table alternating hover">
  <thead>
   <tr>
    <th>Fiche</th>
    <th>R&eacute;dacteur</th>
    <th>Date</th>
   </tr>
  </thead>
  <tbody>
  {% for f in application.fiches %}
   <tr>
    <td align="left">{{ f.nom }}</td>
    <td align="center">{{ f.created_by }}</td>
    <td align="center">{{ f.created|date:"j/m/y" }}</td>
   </tr>
  {% endfor %}
  </tbody>
 </table>

  </div>

{% if admin %}
  <div id="ajout" class="tabs-content">
   <form action="/addFicheTestApplication" method="post">
    <input type="hidden" name="id" value="{{ application.key.id }}" />
    <table class="form" cellpadding="5">
     <tr>
      <td><label>Nom</label> : <input name="nom" size="32" value=""/></td>
     </tr>
     <tr>
      <td><textarea name="commentaire" rows="4" cols="48"></textarea></td>
     </tr>
     <tr>
      <td align="center"><input class="submit" type="submit" value="Ajouter"/></td>
     </tr>
    </table>
   </form>
  </div>
{% endif %}

  <div id="mesures" class="tabs-content">
{% if application.actif %}
<table class="ink-table alternating hover">
 <thead>
  <tr>
   <th>Date</th>
   <th>Dispo.</th>
   <th>Perfo.</th>
   <th>Tps moy.</th>
   <th>Trans.</th>
   <th>Sessions</th>
  </tr>
 </thead>
 <tbody>
 {% for mesure in mesures %}
  <tr>
   <td>{{ mesure.quand|date:"d/m/y" }}</td>
   <td align="right">{{ mesure.dispo }}</td>
   <td align="right">{{ mesure.perfo }}</td>
   <td align="right">{{ mesure.temps_moy }}&nbsp;s</td>
   <td align="right">{{ mesure.nb_transactions }}</td>
   <td align="right">{{ mesure.nb_sessions }}</td>
  </tr>
 {% endfor %}
 </tbody>
</table>
{% endif %}

<p>&nbsp;</p>

{% if admin and application.actif %}
 <form action="/addMesure" method="post">
  <input type="hidden" name="id" value="{{ application.key.id }}" />
  <table class="form">
   <tr>
    <td><label>Mesure :</label></td>
    <td><input name="mesure" value=""/></td>
    <td><input class="submit" type="submit" value="Ajouter"/></td>
   </tr>
  </table>
 </form>
{% endif %}
  </div>

  <div id="versions" class="tabs-content">
<ul>
 {% for version in application.versions %}
  <li><a href="/version/{{ version.key.id }}">{{ application.nom }} {{ version.numero }}</a> : {{ version.commentaire }}</li>
 {% endfor %}
</ul>

<p>&nbsp;</p>

{% if admin and application.actif %}
 <form action="/addVersionApplication" method="post">
  <input type="hidden" name="id" value="{{ application.key.id }}" />
  <table class="form">
   <tr>
    <td><label>Version :</label></td>
    <td><input name="numero" value=""/></td>
    <td><input class="submit" type="submit" value="Ajouter"/></td>
   </tr>
  </table>
 </form>
{% endif %}
  </div>

</div>

<a name="bottom">&nbsp;</a>

{% endif %}
{% endblock %}
