{% extends "base.html" %}

{% block body %}
 <p>&nbsp;</p>
 <p><b>YeP DesK</b> est l&agrave; pour vous, quand il faut, comme il faut. YeP !</p>
 <p>&nbsp;</p>
 <p>Un peu de vocabulaire :</p>
 <ul>
  <li><b>ITIL</b> (Information Technology Infrastructure Library) : Biblioth&egrave;que de processus li&eacute; entre eux visant &agrave; optimiser la fourniture de services informatiques.</li>
  <li><b>Service Desk</b> : Fonction r&eacute;alisant le point de contact unique avec les utilisateurs.</li>
  <li><b>Gestion des Incidents</b> : Processus assurant la restauration la plus rapide possible du service convenu avec le client (SLA).</li>
  <li><b>Incident</b> : Tout &eacute;v&egrave;nement ne faisant pas partie des op&eacute;rations standard pouvant provoquer une interruption de service ou alt&eacute;rer sa qualit&eacute;.</li>
  <li><b>Gestion des probl&egrave;mes</b> : Processus de prise en charge des probl&egrave;mes, erreur et erreurs connues dont l'objectif est de faire le lien avec la demande de changement.</li>
  <li><b>Probl&egrave;me</b> : Cause inconnue d'un ou plusieurs incident en cours ou potentiel pr&eacute;sentant les m&ecirc;mes sympt&ocirc;mes.</li>
  <li><b>Erreur connue</b> : Le probl&egrave;me devient une erreur lorsque la cause du ou des incidents est identifi&eacute;e et qu'une solution de contournement existe.</li>
  <li><b>El&eacute;ments de configuration</b> : Tout &eacute;l&eacute;ment de l'infrastructure du SI (Hardware, software, proc&eacute;dures, documents d'organisation, contacts.)</li>
  <li><b>CMDB</b> : Base de donn&eacute;e contenant l'ensemble des informations relatives aux &eacute;l&eacute;ments de configuration et les liens qui les relient entre eux</li>
</ul>

<h5>Incident Management</h5>
<p>The goal of the incident management process is to restore normal service operation as quickly as possible and minimize the adverse impact on business operations.  ‘Normal service operation’ is defined here as a service operation within Service Level Agreement (SLA) limits.</p>
<p>Recommended KPIs for Incident management :</p>
<ul>
<li>% incidents resolved in time</li>
<li>% incidents resolved by first assigned group</li>
<li>% new, critical incidents</li>
<li>% open and overdue incidents</li>
<li>Incident backlog growth</li>
</ul>
<ul>
 <li>Temps moyen entre Ouverture et Cloture</li>
 <li>Nombre d'incident (total et relatif)</li>
 <li>Cout moyen par Incident</li>
 <li>Taux d'incident resolus dans les delais du SLA</li>
 <li>Taux de cloture par le centre de service sans escalade</li>
 <li>Nombre d'incidents par operateur du centre de service</li>
</li>
</ul>
<h5>Problem Management</h5>
<p>The goal of the problem management process is to minimize the adverse impact of incidents that are caused by errors within the IT infrastructure, and to prevent recurrence of incidents related to these errors.  In order to achieve this goal, Problem Management seeks to identify the root cause of incidents and take remediation action to improve the situation.</p>
<p>Recommended KPIs :</p>
<ul>
<li>% open problems classified as known error</li>
<li>% open problems not worked on last 30 days </li>
<li>Average age of open problems by Priority</li>
<li>Problem backlog growth</li>
</ul>
<h5>Change Management</h5>
<p>The goal of the change management process is to ensure that standardized methods and procedures are used for efficient and prompt handling of all changes in order to minimize the impact of change-related incidents upon service.</p>
<p>Recommended KPIs :</p>
<ul>
<li>% closed changes causing new incidents</li>
<li>% urgent changes</li>
<li>% rejected changes</li>
<li>% changes closed before planned end date</li>
<li>Change backlog growth</li>
</ul>
<h5>Request Management</h5>
<p>The goal of the request management process is to ensure that requests are fulfilled in an efficient and timely manner in alignment with service level targets in order to maintain end user satisfaction with the IT services they receive.</p>
<p>Recommended KPIs :</p>
<ul>
<li>% requests closed on or before due date</li>
<li>% rejected requests</li>
<li>Request backlog growth</li>
</ul>

{% endblock %}
