{% extends "base.html" %}

{% block body %}
 <p>&nbsp;</p>
 <p><b>YeP DesK</b> est l&agrave; pour vous, quand il faut, comme il faut. YeP !</p>
 <p>&nbsp;</p>
 <p>Un peu de vocabulaire :</p>
 <ul>
  <li><b>ITIL</b> (Information Technology Infrastructure Library) : Biblioth&egrave;que de processus li&eacute; entre eux visant &agrave; optimiser la fourniture de services informatiques.</li>
  <li><b>Service Desk</b> : Fonction r&eacute;alisant le point de contact unique avec les utilisateurs.</li>
  <li><b>Gestion des Incidents</b> : Processus assurant la restauration la plus rapide possible du service convenu avec le client (SLA).</li>
  <li><b>Incident</b> : Tout &eacute;v&egrave;nement ne faisant pas partie des op&eacute;rations standard pouvant provoquer une interruption de service ou alt&eacute;rer sa qualit&eacute;.</li>
  <li><b>Gestion des probl&egrave;mes</b> : Processus de prise en charge des probl&egrave;mes, erreur et erreurs connues dont l'objectif est de faire le lien avec la demande de changement.</li>
  <li><b>Probl&egrave;me</b> : Cause inconnue d'un ou plusieurs incident en cours ou potentiel pr&eacute;sentant les m&ecirc;mes sympt&ocirc;mes.</li>
  <li><b>Erreur connue</b> : Le probl&egrave;me devient une erreur lorsque la cause du ou des incidents est identifi&eacute;e et qu'une solution de contournement existe.</li>
  <li><b>El&eacute;ments de configuration</b> : Tout &eacute;l&eacute;ment de l'infrastructure du SI (Hardware, software, proc&eacute;dures, documents d'organisation, contacts.)</li>
  <li><b>CMDB</b> : Base de donn&eacute;e contenant l'ensemble des informations relatives aux &eacute;l&eacute;ments de configuration et les liens qui les relient entre eux</li>
</ul>
{% endblock %}
