{% extends "base.html" %}

{% block title %} - Demande {{ demande.reference }}{% endblock %}

{% block body %}

 <h4>Demande {{ demande.reference }}</h4>

{% if user %}

  <div class="ink-grid">

    <div class="column-group gutters">
      <div class="large-25 medium-50 small-100"><label>Cat&eacute;gorie</label> : {{ demande.categorie }}</div>
      <div class="large-25 medium-50 small-100"><label>Etat</label> : {{ demande.etat }}</div>
      <div class="large-25 medium-50 small-100"><label>Demandeur</label> : {% if demande.demandeur %}<a href="/contact/{{ demande.demandeur.key.id }}">{{ demande.demandeur }}</a>{% endif %}</div>
      <div class="large-25 medium-50 small-100"><label>Ouvert le</label> : {{ demande.created|date:"j/m/y" }}</div>
    </div>

    <div class="column-group gutters">
      <div class="large-50 medium-50 small-100"><label>Affect&eacute; &agrave;</label> : {% if demande.affecte %}<a href="/groupe/{{ demande.affecte.key.id }}">{{ demande.affecte }}</a>{% endif %}</div>
      <div class="large-50 medium-50 small-100">&nbsp;</div>
    </div>

    <div class="column-group gutters">
      <div class="large-100 medium-100 small-100"><label><b>R&eacute;sum&eacute;</b></label> : {{ demande.resume }}</div>
    </div>

    <div class="column-group gutters">
      <div class="large-100 medium-100 small-100"><label><b>Description</b></label> :<br/>
   {% if demande.description %}
   {% autoescape off %}{{ demande.description }}{% endautoescape %}
   {% endif %}
      </div>
    </div>

  </div>

{% if admin %}
<p class="submit"><a href="/editDemande?id={{ demande.key.id }}">Editer</a></p>
{% endif %}

<div class="ink-tabs top"> <!-- Creates a tabbed view with top nav -->

  <ul class="tabs-nav">
    <li><a href="#item0">Commentaires</a></li>
{% if admin %}
    <li><a href="#item1">Ajout de commentaire</a></li>
{% endif %}
    <li><a href="#item2">Pi&egrave;ces jointes</a></li>
  </ul>

    <div id="item0" class="tabs-content">

 <table class="ink-table alternating hover">
  <thead>
   <tr>
    <th>User</th>
    <th>Date</th>
    <th>Commentaire</th>
   </tr>
  </thead>
  <tbody>
  {% for c in demande.commentaires %}
   <tr>
    <td align="center">{{ c.created_by }}</td>
    <td align="center">{{ c.created|date:"j/m/y" }}</td>
    <td align="left">{{ c.texte }}</td>
   </tr>
  {% endfor %}
  </tbody>
 </table>

    </div>

{% if admin %}
    <div id="item1" class="tabs-content">
     <form action="/addCommentaireDemande" method="post">
      <input type="hidden" name="id" value="{{ demande.key.id }}" />
      <table class="form" cellpadding="5">
       <tr>
        <td><textarea name="texte" rows="4" cols="48"></textarea></td>
       </tr>
       <tr>
        <td align="center"><input class="submit" type="submit" value="Ajouter"/></td>
       </tr>
      </table>
     </form>
    </div>
{% endif %}

    <div id="item2" class="tabs-content">
     <p>Pas de pi&egrave;ces jointes.</p>
    </div>

</div>

{% endif %}
{% endblock %}
