{% extends "base.html" %}

{% block title %} - Edition de version d'application{% endblock %}


{% block body %}

 <h4>Edition de version d'application</h4>

{% if user %}

    <form method="post" class="ink-form" action="{{ action }}">

      <input type="hidden" name="_id" value="{{ id }}" />

{% autoescape off %}

      <fieldset class="column-group gutters">

        <div class="control-group large-50 medium-50 small-100">
          {{ form.application.label }}
          <div class="control">
            {{ form.application }}
          </div>
          {% if form.application.errors %}<p class="tip">{{form.application.errors}}</p>{% endif %}
        </div>

        <div class="control-group large-50 medium-50 small-100">
          {{ form.numero.label }}
          <div class="control">
            {{ form.numero }}
          </div>
          {% if form.numero.errors %}<p class="tip">{{form.numero.errors}}</p>{% endif %}
        </div>

        <div class="control-group large-50 medium-50 small-100">
          {{ form.date_prevue.label }}
          <div class="control">
            {{ form.date_prevue }}
          </div>
          {% if form.date_prevue.errors %}<p class="tip">{{form.date_prevue.errors}}</p>{% endif %}
        </div>

        <div class="control-group large-50 medium-50 small-100">
          {{ form.date_effective.label }}
          <div class="control">
            {{ form.date_effective }}
          </div>
          {% if form.date_effective.errors %}<p class="tip">{{form.date_effective.errors}}</p>{% endif %}
        </div>

        <div class="control-group large-100 medium-100 small-100">
          {{ form.commentaire.label }}
          <div class="control">
            {{ form.commentaire }}
          </div>
        </div>

      </fieldset>

{% endautoescape %}

      <input type="submit" value="Enregistrer" />

    </form>

{% endif %}

{% endblock %}
