{% extends "base.html" %}

{% block title %} - Edition de fiche de test{% endblock %}


{% block body %}

 <h4>Edition de fiche de test</h4>

{% if user %}

    <form method="post" class="ink-form" action="{{ action }}">

      <input type="hidden" name="_id" value="{{ id }}" />

{% autoescape off %}

      <fieldset class="column-group gutters">

        <div class="control-group large-50 medium-50 small-100">
          {{ form.nom.label }}
          <div class="control">
            {{ form.nom }}
          </div>
          {% if form.nom.errors %}<p class="tip">{{form.nom.errors}}</p>{% endif %}
        </div>

        <div class="control-group large-50 medium-50 small-100">
          {{ form.code.label }}
          <div class="control">
            {{ form.code }}
          </div>
          {% if form.code.errors %}<p class="tip">{{form.code.errors}}</p>{% endif %}
        </div>

        <div class="control-group large-50 medium-50 small-100">
          {{ form.application.label }}
          <div class="control">
            {{ form.application }}
          </div>
          {% if form.application.errors %}<p class="tip">{{form.application.errors}}</p>{% endif %}
        </div>

        <div class="control-group large-50 medium-50 small-100">
          {{ form.fichier.label }}
          <div class="control">
            {{ form.fichier }}
          </div>
          {% if form.fichier.errors %}<p class="tip">{{form.fichier.errors}}</p>{% endif %}
        </div>

        <div class="control-group large-100 medium-100 small-100">
          {{ form.commentaire.label }}
          <div class="control">
            {{ form.commentaire }}
          </div>
        </div>

      </fieldset>

{% endautoescape %}

      <input type="submit" value="Enregistrer" />

   </form>

{% endif %}

{% endblock %}
