{% extends "base.html" %}

{% block title %} - Fabricants{% endblock %}

{% block body %}

 <h4>Fabricants</h4>

{% if user %}
 <table class="ink-table alternating hover">
  <thead>
   <tr>
    <th>Nom</th>
    <th>Description</th>
    <th>&nbsp;</th>
   </tr>
  </thead>
  <tbody>
  {% for fab in fabricants %}
   <tr>
    <td><a href="/fabricant/{{ fab.key.id }}">{{ fab.nom }}</a></td>
    <td>{{ fab.description }}</td>
    <td><a href="/editFabricant?id={{ fab.key.id }}"><i class="fa fa-edit"></i></a></td>
   </tr>
  {% endfor %}
  </tbody>
 </table>
{% endif %}

 <br/>

{% if admin %}
 <form action="/addFabricant" method="post">
  <table class="form">
   <tr>
    <td><label>Nom :</label></td>
    <td><input name="nom" value=""/></td>
    <td><input class="submit" type="submit" value="Enregistrer"/></td>
   </tr>
  </table>
 </form>
{% endif %}

{% endblock %}
