{% extends "base.html" %}

{% block title %} - Groupe {{ groupe.nom }}{% endblock %}

{% block body %}

 <h4>Groupe {{ groupe.nom }}</h4>

{% if user %}

{% if groupe.description %}
{% autoescape off %}{{ groupe.description }}{% endautoescape %}
{% endif %}

{% if admin %}
<p class="submit"><a href="/editGroupe?id={{ groupe.key.id }}">Editer</a></p>
{% endif %}

<div class="ink-tabs top"> <!-- Creates a tabbed view with top nav -->
  <ul class="tabs-nav">
    <li><a href="#membres">Membres</a></li>
    <li><a href="#incidents">Incidents</a></li>
    <li><a href="#demandes">Demandes</a></li>
    </ul>

    <div id="membres" class="tabs-content">

{% if membres %}
 <table class="ink-table alternating hover">
  <thead>
   <tr>
    <th>Nom</th>
    <th>Organisation</th>
    <th>Email</th>
    <th>T&eacute;l&eacute;phone</th>
    <th>&nbsp;</th>
   </tr>
  </thead>
  <tbody>
  {% for m in membres %}
   <tr>
    <td><a href="/contact/{{ m.contact.key.id }}">{{ m.contact.prenom }} {{ m.contact.nom }}</a></td>
    <td>{% if m.contact.organisation %}<a href="/organisation/{{ m.contact.organisation.key.id }}">{{ m.contact.organisation.nom }}</a>{% endif %}</td>
    <td>{{ m.contact.email }}</td>
    <td>{{ m.contact.telephone }}</td>
    <td><a href="/editContact?id={{ m.contact.key.id }}">Editer</a></td>
   </tr>
  {% endfor %}
  </tbody>
 </table>
{% endif %}

{% if admin %}
 <form action="/addMembre2Groupe" method="post">
  <input type="hidden" name="groupe" value="{{ groupe.key.id }}" />
  <table class="form">
   <tr>
    <td><label>Membre : </label></td>
    <td>
     <select name="contact">
      {% for c in contacts %}
       <option value="{{ c.key.id }}">{{ c.prenom }} {{ c.nom }}</option>
      {% endfor %}
     </select>
    </td>
    <td><input class="submit" type="submit" value="Ajouter"/></td>
   </tr>
  </table>
 </form>
{% endif %}

    </div>

    <div id="incidents" class="tabs-content">

{% if incidents %}
 <table class="ink-table alternating hover">
  <thead>
   <tr><th>R&eacute;f&eacute;rence</th><th>Etat</th><th>Cat&eacute;gorie</th><th>R&eacute;sum&eacute;</th><th>&nbsp;</th></tr>
  </thead>
  <tbody>
  {% for inc in incidents %}
   <tr>
    <td><a href="/incident/{{ inc.key.id }}">{{ inc.reference }}</a></td>
    <td>{{ inc.etat }}</td>
    <td>{{ inc.categorie }}</td>
    <td>{{ inc.resume }}</td>
    <td><a href="/editIncident?id={{ inc.key.id }}">Editer</a></td>
   </tr>
  {% endfor %}
  </tbody>
 </table>
{% endif %}

    </div>

    <div id="demandes" class="tabs-content">

{% if demandes %}
 <table class="ink-table alternating hover">
  <thead>
   <tr><th>R&eacute;f&eacute;rence</th><th>Etat</th><th>Cat&eacute;gorie</th><th>R&eacute;sum&eacute;</th><th>&nbsp;</th></tr>
  </thead>
  <tbody>
  {% for dem in demandes %}
   <tr>
    <td><a href="/demande/{{ dem.key.id }}">{{ dem.reference }}</a></td>
    <td>{{ dem.etat }}</td>
    <td>{{ dem.categorie }}</td>
    <td>{{ dem.resume }}</td>
    <td><a href="/editDemande?id={{ dem.key.id }}">Editer</a></td>
   </tr>
  {% endfor %}
  </tbody>
 </table>
{% endif %}

    </div>

</div>

{% endif %}
{% endblock %}
