{% extends "base.html" %}

{% block title %} - Incident {{ incident.reference }}{% endblock %}

{% block body %}

 <h4>Incident {{ incident.reference }}</h4>

{% if user %}

  <div class="ink-grid">

    <div class="column-group gutters">
      <div class="large-25 medium-50 small-100"><label>Cat&eacute;gorie</label> : {{ incident.categorie }}</div>
      <div class="large-25 medium-50 small-100"><label>Etat</label> : {{ incident.etat }}</div>
      <div class="large-25 medium-50 small-100"><label>Utilisateur</label> : {% if incident.utilisateur %}<a href="/contact/{{ incident.utilisateur.key.id }}">{{ incident.utilisateur }}</a>{% endif %}</div>
      <div class="large-25 medium-50 small-100"><label>Ouvert le</label> : {{ incident.created|date:"j/m/y" }}</div>
    </div>

    <div class="column-group gutters">
      <div class="large-50 medium-50 small-100"><label>Affect&eacute; &agrave;</label> : {% if incident.affecte %}<a href="/groupe/{{ incident.affecte.key.id }}">{{ incident.affecte }}</a>{% endif %}</div>
      <div class="large-50 medium-50 small-100">&nbsp;</div>
    </div>

    <div class="column-group gutters">
      <div class="large-100 medium-100 small-100"><label><b>R&eacute;sum&eacute;</b></label> : {{ incident.resume }}</div>
    </div>

    <div class="column-group gutters">
      <div class="large-100 medium-100 small-100"><label><b>Description</b></label> :<br/>
   {% if incident.description %}
   {% autoescape off %}{{ incident.description }}{% endautoescape %}
   {% endif %}
      </div>
    </div>

  </div>

{% if admin %}
<p class="submit"><a href="/editIncident?id={{ incident.key.id }}">Editer</a></p>
{% endif %}

<div class="ink-tabs top"> <!-- Creates a tabbed view with top nav -->

  <ul class="tabs-nav">
    <li><a href="#item0">Commentaires</a></li>
{% if admin %}
    <li><a href="#item1">Ajout de commentaire</a></li>
{% endif %}
    <li><a href="#item2">Pi&egrave;ces jointes</a></li>
    <li><a href="#item3">Transfert</a></li>
  </ul>

    <div id="item0" class="tabs-content">

 <table class="ink-table alternating hover">
  <thead>
   <tr>
    <th>User</th>
    <th>Date</th>
    <th>Commentaire</th>
   </tr>
  </thead>
  <tbody>
  {% for c in incident.commentaires %}
   <tr>
    <td align="center">{{ c.created_by }}</td>
    <td align="center">{{ c.created|date:"j/m/y" }}</td>
    <td align="left">{{ c.texte }}</td>
   </tr>
  {% endfor %}
  </tbody>
 </table>

    </div>

{% if admin %}
    <div id="item1" class="tabs-content">
     <form action="/addCommentaireIncident" method="post">
      <input type="hidden" name="id" value="{{ incident.key.id }}" />
      <table class="form" cellpadding="5">
       <tr>
        <td><textarea name="texte" rows="4" cols="48"></textarea></td>
       </tr>
       <tr>
        <td align="center"><input class="submit" type="submit" value="Ajouter"/></td>
       </tr>
      </table>
     </form>
    </div>
{% endif %}

    <div id="item2" class="tabs-content">
     <p>Pas de pi&egrave;ces jointes.</p>
    </div>

    <div id="item3" class="tabs-content">
     <form action="/addTransfert" method="post">
      <input type="hidden" name="id" value="{{ incident.key.id }}" />
      <input type="hidden" name="type" value="Incident" />
      <table class="form" cellpadding="5">
       <tr>
        <td><label>Groupe</label> :
         <select name="groupe">
         {% for g in groupes %}
          <option value="{{ g.key.id }}">{{ g.nom }}</option>
         {% endfor %}
         </select>
        </td>
       </tr>
       <tr>
        <td><textarea name="texte" rows="4" cols="48"></textarea></td>
       </tr>
       <tr>
        <td align="center"><input class="submit" type="submit" value="Transf&eacute;rer"/></td>
       </tr>
      </table>
     </form>
    </div>

</div>

{% endif %}
{% endblock %}
