{% extends "base.html" %}

{% block description %}Bienvenue sur YeP Desk !{% endblock %}

{% block body %}
 <p>&nbsp;</p>
 <ul>
  <li><a href="/demandes">Demandes</a></li>
  <li><a href="/incidents">Incidents</a></li>
  <li><a href="/contacts">Contacts</a></li>
  {% if admin %}
  <li><a href="/groupes">Groupes</a></li>

  <li><a href="/organisations">Organisations</a></li>
  <li><a href="/sites">Sites</a></li>
  {% endif %}
  <li><a href="/applications">Applications</a></li>
  <li><a href="/ordinateurs">Ordinateurs</a></li>
  <li><a href="/imprimantes">Imprimantes</a></li>
  {% if admin %}
  <li><a href="/admin">Admin.</a></li>
  {% endif %}
 </ul>
 <p>&nbsp;</p>
{% endblock %}
