{% extends "base.html" %}

{% block title %} - Organisations{% endblock %}

{% block body %}

 <h4>Organisations</h4>

{% if user %}
 <table class="ink-table alternating hover">
  <thead>
   <tr>
    <th>Nom</th>
    <th>Description</th>
    <th>&nbsp;</th>
   </tr>
  </thead>
  <tbody>
  {% for org in organisations %}
   <tr>
    <td><a href="/organisation/{{ org.key.id }}">{{ org.nom }}</a></td>
    <td>{{ org.description }}</td>
    <td><a href="/editOrganisation?id={{ org.key.id }}"><i class="icon-edit"></i></a></td>
   </tr>
  {% endfor %}
  </tbody>
 </table>
{% endif %}

 <br/>

{% if admin %}
 <form action="/addOrganisation" method="post">
  <table class="form">
   <tr>
    <td><label>Nom :</label></td>
    <td><input name="nom" value=""/></td>
    <td><input class="submit" type="submit" value="Enregistrer"/></td>
   </tr>
  </table>
 </form>
{% endif %}

{% endblock %}
