{% extends "base.html" %}

{% block title %} - Test {{ test.nom }}{% endblock %}

{% block body %}

 <h4>Test {{ test.nom }}</h4>

{% if user %}

<p>Version : <a href="/application/{{ test.version.application.key.id }}">{{ test.version.application.nom }}</a> <a href="/version/{{ test.version.key.id }}">{{ test.version.numero }}</a></p>
<p>Fiche : <a href="/fiche/{{ test.fiche.key.id }}">{{ test.fiche.nom }}</a></p>
<p>Date : {{ test.quand|date:"j/m/y" }}</p>
<p>R&eacute;sultat : {{ test.resultat }}</p>

{% if test.commentaire %}
<p>{% autoescape off %}{{ test.commentaire }}{% endautoescape %}</p>
{% endif %}

{% if admin %}
<p class="submit"><a href="/editTest?id={{ test.key.id }}">Editer</a></p>
{% endif %}

<div class="ink-tabs top"> <!-- Creates a tabbed view with top nav -->
  <ul class="tabs-nav">
    <li><a href="#defauts">D&eacute;fauts</a></li>
  </ul>

  <div id="defauts" class="tabs-content">

 <table class="ink-table alternating hover">
  <thead>
   <tr>
    <th>Defaut</th>
    <th>Version</th>
    <th>Commentaire</th>
   </tr>
  </thead>
  <tbody>
  {% for d in test.defauts %}
   <tr>
    <td align="center"><a href="/defaut/{{ d.key.id }}">{{ d.code }}</a></td>
    <td align="center"><a href="/version/{{ d.version.key.id }}">{{ d.version.numero }}</a></td>
    <td align="left">{{ d.commentaire }}</td>
   </tr>
  {% endfor %}
  </tbody>
 </table>

  </div>
</div>

{% endif %}
{% endblock %}
