{% extends "base.html" %}

{% block title %} - {{ version.application.nom }} {{ version.numero }}{% endblock %}

{% block body %}

 <h4>{{ version.application.nom }} {{ version.numero }}</h4>

{% if user %}

<p>Application : <a href="/application/{{ version.application.key.id }}">{{ version.application.nom }}</a></p>

{% if version.commentaire %}
<p>{% autoescape off %}{{ version.commentaire }}{% endautoescape %}</p>
{% endif %}

{% if admin %}
<p class="submit"><a href="/editVersionApplication?id={{ version.key.id }}">Editer</a></p>
{% endif %}

{% endif %}
{% endblock %}
